.header {
    max-width: 880px;
    min-height: 5.78vw;
    margin: 0 auto;
    padding-top: 3.52vw;
    margin-bottom: 2.81vw;
    border-bottom: 1px solid rgba(84,84,84,0.7);
}

@media screen and (max-width: 600px) {
    .header {
        padding-top: 8.75vw;
        min-height: 17.5vw;
        margin-bottom: 38.25px;
    }
}